<div id="player-hand">
    <div class="card" data-suit="hearts" data-val="7" data-display-val="7">7</div>
    <div class="card" data-suit="diamonds" data-val="10" data-display-val="K">K</div>
  </div>