.error {
    color: red;
  }
  
  .invalid {
    font-weight: bold;
    color: #cc0000;
  }
  
  .invalid input {
    border: 1px solid #cc0000;
  }
  
  /* input:invalid {
    box-shadow: 2px 2px 5px orangered;
  }
  
  input:valid {
    border: 1px solid forestgreen;
  } */