main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
  }
  
  main,
  input {
    font-size: 18px;
    line-height: 1.4;
  }
  
  h2 {
    margin-bottom: 0;
  }
  
  ul,
  div {
    padding-left: 40px;
  }
  
  li {
    margin: 10px 0;
  }
  
  a {
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.8em;
    color: white;
  }
  
  li.done span{
    color: gray;
    text-decoration: line-through;
  }
  
  .move {
    margin-left: 30px;
    background-color: sandybrown;
  }
  
  .delete {
    background-color: darkred;
  }
  
  .add-item {
    background-color: darkturquoise;
  }

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
  
  